form {
    text-align: center;
    border-radius: 30px;
}

table {
    border-collapse: collapse;
    width: 30%;
}

table, td {
    border-collapse: collapse;
    width: 40%;
    border: 1px black solid;
    border-radius: 4px;
    background-color: white;
    padding: 2%;
}
input[type=text] {
    border: 1px black solid;
    border-radius: 4px;
    padding: 1%;
}

label {
    display: inline-flex;
    align-items: center;
    gap: 5px; /* Отступ между кнопкой и текстом */
}

input[type=radio] {
    vertical-align: middle;
    margin: 0;
}